
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
.container-fluid {
    color: #FFFFFF;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 10px;
}
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-size: 20px;
}
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
/*Links on mouseover*/
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}
.sub {
    text-align: left;
    font-size: 15px
}
